:root {
  --primary: #ff762d;
  --primary-dark: #c94d00;
}
body {
  background-color: #f8f9fa;
}
.sidebar-width {
  width: 280px;
}
@media (min-width: 992px) {
  .main-content-wrapper {
    margin-left: 280px;
  }
}
.nav-link {
  color: #495057;
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
  transition: all 0.2s;
  font-weight: 500;
}
.nav-link:hover,
.nav-link.active {
  background-color: #fff5eb;
  color: var(--primary);
}
.nav-link.active {
  font-weight: 700;
}
.title-orange {
  color: var(--primary);
}

.form-control {
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
  transition: all 0.2s;
}

.form-label {
  font-weight: 500;
}

.form-select {
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
  transition: all 0.2s;
}

input {
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
  transition: all 0.2s;
}

input:focus {
  border-color: var(--primary);
  box-shadow: 0 0 0 0.2rem rgba(255, 118, 45, 0.25);
}

.form-select:focus,
.form-control:focus {
  border-color: var(--primary);
  box-shadow: 0 0 0 0.2rem rgba(255, 118, 45, 0.25);
}

.btn-orange {
  background-color: var(--primary);
  color: white;
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
  transition: all 0.2s;
}

.btn-orange:hover {
  background-color: var(--primary-dark);
  color: white;
}
