/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */

body {
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(
      rgba(250, 203, 102, 0.75),
      rgba(66, 207, 66, 0.65)
    ),
    url("/Images/Beans_in_bags.jpg") center/cover no-repeat;
}

/* Form Card */

.card {
  background: #fff;
  border: none;
  border-radius: 16px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
  max-width: 900px;
  margin: 3rem auto;
  padding: 20px 40px;
}

.text-center {
  color: #fe5400;
  font-size: 36px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 10px;
}
.creditForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.form-label {
  font-size: 18px;
  font-weight: 500;
  color: #9c640f;
}

.form-text {
  font-size: 0.9rem;
  color: #333;
  margin-top: 4px;
  margin-bottom: 12px;
  margin-bottom: 6px;
}

option {
  color: #333;
}

input {
  outline: none;
}

input[type="text"],
input[type="number"],
input[type="tel"],
input[type="date"],
select {
  width: 100%;
  padding: 10px 15px;
  border: 2px solid #ddd;
  border-radius: 8px;
  margin-top: 6px;
  font-size: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: All 0.3s;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="date"]:focus,
select:focus {
  border-color: #fe5400;
  box-shadow: 0 0 0 3px rgba(254, 84, 0, 0.2);
}

.button-container {
  text-align: center;
  margin-top: 20px;
  justify-content: center;
  display: inline-flex;
}
.button {
  display: flex;
  background-color: #9c640f;
  border: none;
  padding: 20px 30px;
  color: #fff;
  border-radius: 50px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  transition: all 0.3s ease;
  cursor: pointer;
}

.button:hover {
  background-color: #fe5400;
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(254, 84, 0, 0.25);
}
