:root {
  --primary: #ff762d;
  --primary-dark: #c94d00;
}
body {
  background-color: #f8f9fa;
}
.sidebar-width {
  width: 280px;
}
@media (min-width: 992px) {
  .main-content-wrapper {
    margin-left: 280px;
  }
}
.nav-link {
  color: #495057;
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
  transition: all 0.2s;
  font-weight: 500;
}
.nav-link:hover,
.nav-link.active {
  background-color: #fff5eb;
  color: var(--primary);
}
.nav-link.active {
  font-weight: 700;
}
.card-icon-bg {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  font-size: 1.5rem;
  transition:
    transform 0.25s ease,
    box-shadow 0.25s ease;
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.card:hover .card-icon-bg {
  transform: scale(1.1);
}
.card:hover .card-icon-bg i {
  transform: scale(1.1);
}
.bg-orange-soft {
  background-color: #fff5eb;
  color: var(--primary);
}
.bg-green-soft {
  background-color: #d1e7dd;
  color: #198754;
}
.bg-blue-soft {
  background-color: #cfe2ff;
  color: #0d6efd;
}
.bg-red-soft {
  background-color: #f8d7da;
  color: #dc3545;
}
.title-orange {
  color: var(--primary);
}
#userInfo {
  color: var(--primary-dark);
}

#userRole {
  color: var(--primary);
}
