/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

/* Body */

body {
  background: #f4f6f9;
  font-family: system-ui, sans-serif;
}

/* Sidebar */

.sidebar {
  width: 300px;
  background: #6d9312;
  color: white;
  min-height: 100vh;
  position: fixed;
}

.nav-link {
  color: white !important;
  border-radius: 8px;
  margin: 0.3rem 0;
  padding: 10px 15px;
  display: block;
  font-size: 28px;
}
.logout {
  position: absolute;
  bottom: 20px;
  width: 100%;
  padding: 20px 15px;
  box-sizing: border-box;
}
.logout a {
  color: white !important;
  font-size: 28px;
  font-weight: 600;
  padding: 10px;
}
/* main content */
.main-content {
  margin-left: 300px;
  padding: 20px 30px;
}
.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px;
}
.heading h1 {
  font-size: 28px;
  color: #fe5400;
}
.main-content h2 {
  color: #fe5400;
  margin-bottom: 20px;
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-bottom: 30px;
}
.card-body {
  background-color: #fff;
  border: none;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
  padding: 20px;
}
.card-body h5 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}
/* Massages */
.massages {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.massage {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}
@media (max-width: 992px) {
  .sidebar {
    transform: translateX(-100%);
    position: fixed;
  }
  .sidebar.show {
    transform: translateX(0);
  }
  .main-content {
    margin-left: 0;
  }
}
