/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Body */

body {
  height: 100vh;
  background: linear-gradient(
      rgba(250, 203, 102, 0.75),
      rgba(66, 207, 66, 0.65)
    ),
    url("/Images/Beans_in_bags.jpg") center / cover no-repeat;
  font-family: system-ui, sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.card {
  background: #fff;
  border: none;
  border-radius: 16px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
  max-width: 1000px;
  margin: 30px auto;
  padding: 20px 40px;
}

.card-body {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
}

.card-header {
  color: #fe5400;
  font-size: 36px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 10px;
}

.table {
  font-size: 24px;
  font-weight: 600;
  color: #9c640f;
  margin-bottom: 10px;
  border: #46ad05 2px solid;
  width: 100%;
  border-collapse: collapse;
  padding: 30px;
}

.inventoryHeader {
  color: #46ad05;
  font-size: 28px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 10px;
}

.table th,
.table td {
  padding: 12px 15px;
}
.table th {
  background-color: #f4f4f4;
  text-align: left;
}
.table tr:nth-child(even) {
  background-color: #f9f9f9;
}
.table-responsive {
  overflow-x: auto;
}

@media (max-width: 576px) {
  .table-responsive {
    font-size: 0.92rem;
  }
}
