/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styles */
body {
  height: 100vh;
  background: linear-gradient(
      rgba(250, 203, 102, 0.75),
      rgba(66, 207, 66, 0.65)
    ),
    url("/Images/Beans_in_bags.jpg") center/cover no-repeat;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #343a40;
}

/* Reports Container */
.reports-container {
  background: #fff;
  border: none;
  border-radius: 16px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
  max-width: 900px;
  margin: 3rem auto;
  padding: 20px 40px;
}

.text-center {
  text-align: center;
  color: #fe5400;
  font-size: 24px;
}

.salesReports {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.salesReports h5 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
  color: #28a745;
}

.branchSales,
.typeSales {
  width: 48%;
  background: #f1f3f5;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.total-revenue-section {
  margin-top: 40px;
  text-align: center;
}
.total {
  background: #e9ecef;
  padding: 30px;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}
.total h4 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #ffc107;
}
.total h2 {
  font-size: 36px;
  color: #28a745;
}
.total i {
  color: #ffc107;
}
